#gridBody {
  --visible: absolute;
  --invisible: none;

  word-spacing: 0px;
  letter-spacing: 0px;
  margin: 0px;
  padding: 0px;
  line-height: 0px;

  display: var(--invisible);
}
.gridElements {
  --height: calc(60vh / 10);
  --width: calc(10vw - 4px);
  --font--size: calc(min(var(--height), var(--width)) - 10px);
  font-size: calc(var(--font--size));
  width: calc(var(--width));
  max-width: calc(var(--height));
  height: calc(var(--height));
  max-height: calc(var(--width));

  margin: 1px;

  padding: 0px;
}


#roomSelectionBody {
  --height: calc(60vh / 10);
  --width: calc(10vw - 4px);
  --font--size: calc(min(var(--height), var(--width)) - 10px);
  --font-family: "Comic Sans MS", "Comic Sans", cursive;

  --visible: inline-block;
  --invisible: none;

  background-image: linear-gradient(rgb(80, 180, 250), rgb(100, 220, 255));
  font-family: var(--font-family);
  font-size: calc(var(--font--size));
  padding: 10px;
  width: -moz-fit-content;
  width: fit-content;
  border: 2px solid black;
  border-radius: 15px;
  color: white;
  text-shadow: 2px 2px 5px black;
  text-align: center;

  line-height: 10px;

  display: var(--visible);
}
#roomSelectionBody input {
  font-family: var(--font-family);
  font-size: calc(var(--font--size));
  border-radius: 10px;
  border: 2px solid black;
  background-image: linear-gradient(rgb(200, 200, 200), rgb(180, 180, 180));
}
#roomSelectionBody button {
  font-family: var(--font-family);
  font-size: calc(var(--font--size));
  border-radius: 10px;
  border: 2px solid black;
  background-image: linear-gradient(rgb(200, 200, 200), rgb(180, 180, 180));
}
#roomSelectionBody button:active {
  background-image: linear-gradient(rgb(180, 180, 180), rgb(200, 200, 200));
}


#acceptBody {
  --visible: inline-block;
  --invisible: none;
  --font-family: "Comic Sans MS", "Comic Sans", cursive;

  background-image: linear-gradient(rgb(80, 180, 250), rgb(100, 220, 255));
  font-family: var(--font-family);
  font-size: 150%;
  padding: 10px;
  width: -moz-fit-content;
  width: fit-content;
  border: 2px solid black;
  border-radius: 15px;
  color: white;
  text-shadow: 2px 2px 5px black;
  text-align: center;
  line-height: 50px;

  display: var(--invisible);
}
#acceptBody button {
  font-size: 100%;
  font-family: var(--font-family);
  border-radius: 10px;
  border: 2px solid black;
  background-image: linear-gradient(rgb(200, 200, 200), rgb(180, 180, 180));
}


html {
  height: 100%;
}

body {
  text-align: center;
  background-image: linear-gradient(rgb(200, 200, 200), rgb(100, 100, 100));
  line-height: 20px;
}
